In [1]:
# importing the basic libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [4]:
# reading data from the file
#Source: http://archive.ics.uci.edu/ml/datasets/SPECTF+Heart

In [4]:
df = pd.read_csv('SPECTF_test.csv')

In [5]:
df.head()

,Attr_1,Attr_2,Attr_3,Attr_4,Attr_5,Attr_6,Attr_7,Attr_8,Attr_9,Attr_10,...,Attr_36,Attr_37,Attr_38,Attr_39,Attr_40,Attr_41,Attr_42,Attr_43,Attr_44,Class
0,32,41,76,34,65,53,30,54,16,51,...,43,67,61,29,31,17,8,18,11,Yes
1,76,65,60,40,32,34,65,50,53,37,...,51,65,59,43,39,35,30,24,21,Yes
2,60,51,75,60,65,45,64,55,55,61,...,68,69,63,62,53,57,31,46,30,Yes
3,64,60,71,69,71,65,66,64,68,59,...,55,66,58,65,65,75,64,61,56,Yes
4,65,69,66,76,58,67,65,72,66,64,...,64,71,70,72,69,70,65,63,61,Yes

In [6]:
df.tail()

,Attr_1,Attr_2,Attr_3,Attr_4,Attr_5,Attr_6,Attr_7,Attr_8,Attr_9,Attr_10,...,Attr_36,Attr_37,Attr_38,Attr_39,Attr_40,Attr_41,Attr_42,Attr_43,Attr_44,Class
105,70,75,72,72,67,71,71,78,63,67,...,67,68,70,70,71,64,67,56,54,No
106,59,57,67,71,66,68,68,70,56,62,...,64,56,53,71,68,64,63,56,56,No
107,67,64,73,75,77,77,74,70,65,62,...,64,65,60,68,75,74,80,67,68,No
108,68,65,72,72,47,74,76,74,67,66,...,69,71,73,73,75,68,56,58,44,No
109,66,54,69,66,69,69,75,72,63,62,...,65,65,64,67,69,71,68,59,59,No

In [86]:
# identifying the number of categories available

In [87]:
y = df['Class'].values

In [88]:
df['Class'].value_counts()

Yes    55
No     55
Name: Class, dtype: int64

In [89]:
# since there are 2 categories we are going to using k = 2.

In [90]:
y.shape

(110,)

In [91]:
X = df.drop(['Class'],axis = 1).values

In [15]:
X[:10]

array([[32, 41, 76, 34, 65, 53, 30, 54, 16, 51, 61, 43, 74, 70, 62, 21,
        34, 42, 61, 37, 58, 66, 54, 49, 17, 19, 11, 42, 53, 30, 71,  9,
        61, 16, 31, 43, 67, 61, 29, 31, 17,  8, 18, 11],
       [76, 65, 60, 40, 32, 34, 65, 50, 53, 37, 66, 53, 33, 31, 30, 30,
        69, 75, 64, 45, 68, 65, 57, 43, 23, 23, 53, 77, 48, 32, 55, 32,
        48, 23, 62, 51, 65, 59, 43, 39, 35, 30, 24, 21],
       [60, 51, 75, 60, 65, 45, 64, 55, 55, 61, 66, 74, 61, 50, 62, 41,
        70, 63, 60, 62, 76, 69, 70, 54, 51, 47, 77, 80, 69, 48, 74, 59,
        72, 57, 76, 68, 69, 63, 62, 53, 57, 31, 46, 30],
       [64, 60, 71, 69, 71, 65, 66, 64, 68, 59, 63, 67, 68, 64, 73, 59,
        73, 60, 72, 56, 77, 68, 69, 69, 66, 59, 57, 40, 55, 53, 69, 63,
        71, 63, 66, 55, 66, 58, 65, 65, 75, 64, 61, 56],
       [65, 69, 66, 76, 58, 67, 65, 72, 66, 64, 77, 75, 64, 62, 63, 59,
        71, 61, 67, 45, 74, 45, 66, 46, 64, 48, 62, 27, 65, 67, 72, 72,
        62, 66, 71, 64, 71, 70, 72, 69, 70, 65, 63, 61],
       [71, 76, 74, 79, 71, 69, 77, 75, 64, 64, 75, 78, 69, 70, 59, 52,
        71, 62, 47, 50, 68, 65, 67, 62, 56, 48, 58, 50, 65, 63, 75, 75,
        64, 62, 60, 56, 64, 63, 61, 65, 64, 58, 51, 38],
       [55, 66, 58, 75, 71, 77, 68, 73, 63, 69, 77, 78, 60, 69, 59, 60,
        69, 69, 67, 70, 72, 80, 67, 72, 53, 60, 70, 58, 46, 67, 68, 84,
        69, 79, 70, 74, 62, 71, 67, 66, 63, 61, 53, 60],
       [76, 77, 69, 70, 64, 69, 76, 80, 50, 56, 70, 74, 61, 55, 54, 59,
        65, 65, 53, 72, 76, 73, 51, 47, 43, 46, 66, 80, 73, 73, 71, 65,
        60, 53, 69, 70, 54, 62, 64, 66, 51, 42, 28, 22],
       [70, 72, 65, 64, 71, 69, 75, 76, 65, 68, 69, 79, 65, 74, 62, 67,
        73, 73, 53, 51, 72, 69, 74, 68, 49, 44, 52, 48, 65, 68, 64, 72,
        57, 58, 66, 69, 64, 69, 76, 73, 66, 69, 50, 53],
       [64, 72, 70, 74, 63, 70, 73, 74, 61, 69, 65, 75, 61, 71, 65, 67,
        73, 69, 72, 71, 74, 81, 69, 69, 65, 65, 78, 75, 67, 71, 66, 74,
        54, 60, 64, 68, 64, 68, 69, 71, 65, 65, 56, 58]], dtype=int64)

In [16]:
# distance calculator
y.size

110

In [18]:
print(X)

[[32 41 76 ...  8 18 11]
 [76 65 60 ... 30 24 21]
 [60 51 75 ... 31 46 30]
 ...
 [67 64 73 ... 80 67 68]
 [68 65 72 ... 56 58 44]
 [66 54 69 ... 68 59 59]]

In [181]:
print(X)

[[32 41 76 ...  8 18 11]
 [76 65 60 ... 30 24 21]
 [60 51 75 ... 31 46 30]
 ...
 [67 64 73 ... 80 67 68]
 [68 65 72 ... 56 58 44]
 [66 54 69 ... 68 59 59]]

In [182]:
# distance between 2 points
def distance(p1,p2):
    
    return np.linalg.norm(p1 - p2)

In [183]:
# calculating centroid

In [184]:
# centroid of a cluster
def centroid(cluster):
    
    length = cluster.shape[0]
    c = [None]*44
    for i in range(44):
        c[i] = np.sum(cluster[:,i])
        c[i] = c[i]/length
    
    
    # c0, c1, c2, c3 = c0/length , c1/length , c2/length , c3/length 
       
    return np.array(c)

In [185]:
df.head()

,Attr_1,Attr_2,Attr_3,Attr_4,Attr_5,Attr_6,Attr_7,Attr_8,Attr_9,Attr_10,...,Attr_36,Attr_37,Attr_38,Attr_39,Attr_40,Attr_41,Attr_42,Attr_43,Attr_44,Class
0,32,41,76,34,65,53,30,54,16,51,...,43,67,61,29,31,17,8,18,11,Yes
1,76,65,60,40,32,34,65,50,53,37,...,51,65,59,43,39,35,30,24,21,Yes
2,60,51,75,60,65,45,64,55,55,61,...,68,69,63,62,53,57,31,46,30,Yes
3,64,60,71,69,71,65,66,64,68,59,...,55,66,58,65,65,75,64,61,56,Yes
4,65,69,66,76,58,67,65,72,66,64,...,64,71,70,72,69,70,65,63,61,Yes

In [186]:
# Assigning random cluster centers initially

In [420]:
c1 = X[14].copy()
c2 = X[72].copy()
c1 = c1.reshape(1,44)
c2 = c2.reshape(1,44)

In [421]:
# cluster 1

In [422]:
c1

array([[40, 73, 61, 74, 61, 67, 56, 75, 64, 71, 75, 76, 63, 61, 56, 67,
        70, 73, 69, 60, 74, 63, 65, 73, 57, 63, 66, 69, 60, 66, 72, 71,
        57, 64, 64, 69, 67, 68, 59, 66, 55, 62, 51, 60]], dtype=int64)

In [423]:
# cluster 2

In [424]:
c2

array([[59, 68, 69, 67, 69, 59, 78, 73, 66, 65, 77, 73, 74, 66, 66, 55,
        71, 66, 69, 68, 75, 73, 80, 79, 69, 65, 69, 66, 68, 65, 75, 71,
        59, 61, 65, 64, 73, 71, 81, 75, 74, 65, 69, 66]], dtype=int64)

In [425]:
print(X)

[[32 41 76 ...  8 18 11]
 [76 65 60 ... 30 24 21]
 [60 51 75 ... 31 46 30]
 ...
 [67 64 73 ... 80 67 68]
 [68 65 72 ... 56 58 44]
 [66 54 69 ... 68 59 59]]

In [426]:
# centroids for each cluster

In [427]:
centroid_1 = centroid(c1)
centroid_2 = centroid(c2)

In [428]:
centroid_1

array([40., 73., 61., 74., 61., 67., 56., 75., 64., 71., 75., 76., 63.,
       61., 56., 67., 70., 73., 69., 60., 74., 63., 65., 73., 57., 63.,
       66., 69., 60., 66., 72., 71., 57., 64., 64., 69., 67., 68., 59.,
       66., 55., 62., 51., 60.])

In [429]:
centroid_2

array([59., 68., 69., 67., 69., 59., 78., 73., 66., 65., 77., 73., 74.,
       66., 66., 55., 71., 66., 69., 68., 75., 73., 80., 79., 69., 65.,
       69., 66., 68., 65., 75., 71., 59., 61., 65., 64., 73., 71., 81.,
       75., 74., 65., 69., 66.])

In [430]:
# making a numpy array for all the clusters for futher calculations

In [431]:
cluster_centroid = np.array([centroid_1,centroid_2])

In [432]:
cluster_centroid

array([[40., 73., 61., 74., 61., 67., 56., 75., 64., 71., 75., 76., 63.,
        61., 56., 67., 70., 73., 69., 60., 74., 63., 65., 73., 57., 63.,
        66., 69., 60., 66., 72., 71., 57., 64., 64., 69., 67., 68., 59.,
        66., 55., 62., 51., 60.],
       [59., 68., 69., 67., 69., 59., 78., 73., 66., 65., 77., 73., 74.,
        66., 66., 55., 71., 66., 69., 68., 75., 73., 80., 79., 69., 65.,
        69., 66., 68., 65., 75., 71., 59., 61., 65., 64., 73., 71., 81.,
        75., 74., 65., 69., 66.]])

In [433]:
cluster_centroid = np.round(cluster_centroid,2)

In [434]:
cluster_centroid

array([[40., 73., 61., 74., 61., 67., 56., 75., 64., 71., 75., 76., 63.,
        61., 56., 67., 70., 73., 69., 60., 74., 63., 65., 73., 57., 63.,
        66., 69., 60., 66., 72., 71., 57., 64., 64., 69., 67., 68., 59.,
        66., 55., 62., 51., 60.],
       [59., 68., 69., 67., 69., 59., 78., 73., 66., 65., 77., 73., 74.,
        66., 66., 55., 71., 66., 69., 68., 75., 73., 80., 79., 69., 65.,
        69., 66., 68., 65., 75., 71., 59., 61., 65., 64., 73., 71., 81.,
        75., 74., 65., 69., 66.]])

In [435]:
# iterative implementation of k-means

In [436]:
counter = 0

while(1):
    
    counter +=1
    #print(counter)
    
    if counter>1:
        cluster_centroid = new_centroids.copy()
    
    for x in X[:]:
        
        x = x.reshape(1,44)
        
        distance_1 = np.round(distance(x,centroid(c1)),5)
        distance_2 = np.round(distance(x,centroid(c2)),5)

        
        print(distance_1,distance_2)
        
        for i in range(c1.shape[0]):
            if ((c1[i] == x).all()):
                c1 = np.delete(c1,i,0)
                break
            else:
                pass
        
        for i in range(c2.shape[0]):
            if ((c2[i] == x).all()):
                c2 = np.delete(c2,i,0)
                break
            else:
                pass
                
        
        flag = 0
        
        if flag == 0:
            if distance_1 <= distance_2:
                c1 = np.vstack((c1,x))
                flag = 1

        if flag == 0: 
            if distance_2 <= distance_1:
                c2 = np.vstack((c2,x))
                flag = 1
        
    
    
    new_centroids = np.array([centroid(c1),centroid(c2)])
    new_centroids = np.round(new_centroids,5)
    
    
    if counter>1:
        if((new_centroids == cluster_centroid).all()):
            print(True)
            break

202.44999 223.23306
111.62213 178.41525
86.14071 93.44517
102.74665 58.5662
114.53547 58.89397
97.16931 51.54178
116.02748 54.39037
87.45785 85.44191
107.72825 39.29801
115.71031 44.89557
90.80129 92.70088
113.14999 57.99744
116.67185 46.14069
94.64206 26.35261
93.91869 46.52006
139.69923 38.60645
124.79333 40.43674
127.98975 30.91735
124.00151 32.58752
146.1861 68.64202
139.1757 37.27565
122.20014 37.25496
128.87348 45.89398
137.18555 33.0983
138.71509 37.89812
126.12246 24.67483
125.57816 38.81856
145.64125 37.03161
141.75463 33.05189
126.94241 32.8237
127.52402 42.37521
138.82498 36.04127
97.46217 60.48541
126.70191 35.18406
105.71601 62.95993
133.55664 32.92248
132.11879 27.07869
115.05814 40.77403
124.46636 44.57152
100.20417 60.84641
111.88331 40.44183
145.71848 37.66492
140.20654 53.70415
129.82247 35.50326
123.45799 26.89705
106.30087 37.63335
92.17036 85.87267
123.91277 37.73365
125.17937 37.31822
132.26819 33.95037
130.62303 51.93547
132.47594 40.65753
122.7696 52.92011
162.60804 179.33443
117.65322 132.74576
115.47883 37.34002
107.5997 50.8664
101.47263 58.80955
124.84535 34.99972
120.03761 55.73078
111.8825 44.26762
68.59806 105.07264
105.12286 103.71067
90.7994 87.54161
115.27465 34.14068
122.28463 38.88905
112.69726 46.36809
93.82713 132.90088
94.55 61.52305
98.11831 41.81607
114.98893 31.01366
134.81822 37.14489
127.44196 37.63898
127.94316 33.48663
133.73744 40.5077
108.16517 44.3558
130.3925 44.06776
123.20391 33.56542
128.00079 33.78195
132.2666 44.27511
133.49233 43.16397
118.33936 35.91764
122.46307 34.18056
115.99764 26.09093
119.88308 34.2559
118.28019 31.29587
129.12863 36.63426
122.1053 35.05877
130.13533 44.50457
122.74141 34.69609
128.04961 32.58613
104.44354 40.36119
117.21221 32.26554
120.183 38.81808
131.76951 33.94324
125.20764 36.15984
123.09022 29.37198
125.0478 34.02556
120.23291 31.1341
125.31541 47.8806
111.20793 36.96922
121.86551 27.0214
124.59917 40.0861
126.06527 35.95058
136.93412 38.70766
114.03378 21.11514
119.72136 48.05333
127.4753 33.89053
110.41039 45.84138
115.21156 23.39301
126.25452 210.49472
80.30693 165.73516
76.15578 83.74791
101.75438 44.24051
115.45 60.97787
91.31102 49.46267
115.96208 43.54383
83.54611 81.01432
105.06642 43.26715
118.62421 30.84698
88.59291 98.30458
122.0244 48.21812
124.6072 40.83596
104.39566 28.88291
107.47071 47.26652
129.78715 29.76224
115.95669 39.27888
113.36315 26.51649
113.16781 32.23241
130.48545 67.29542
129.23894 33.23574
112.43644 33.87762
116.24845 47.45345
125.71576 31.46125
126.03949 35.60633
114.75715 21.36533
120.3119 34.18615
135.35307 34.52062
130.70177 33.37292
117.14821 29.38765
113.00532 44.41898
127.71238 34.8229
95.00238 58.1616
111.7551 34.31553
93.41281 61.35837
120.14139 33.92967
121.50804 26.46616
108.55622 41.89116
110.94685 45.48181
87.75365 61.24946
103.59755 39.43233
134.13129 37.2428
130.40592 50.89808
119.07856 37.28121
112.21944 25.23821
99.73943 40.11169
86.43178 89.06446
106.65532 40.6366
112.84957 37.69467
113.94454 29.16982
117.34764 51.04363
116.18626 39.69608
109.9309 53.04077
133.67258 182.2216
106.9809 134.49056
103.75839 36.92764
93.20838 49.58308
87.65033 58.43484
117.56096 33.38964
113.71124 55.82635
108.13224 44.64022
53.21886 108.17957
95.42025 104.02607
74.88571 89.99774
99.38385 33.78314
109.86671 36.31091
99.31293 46.66361
76.2756 138.33657
82.62656 63.99769
82.77606 46.63968
103.71711 28.10653
122.48437 30.98692
115.73506 34.15277
114.49876 28.50478
121.43597 35.76689
95.07635 45.37328
118.29072 40.75719
110.3357 30.91529
116.48201 28.79091
118.7873 41.93004
121.06371 38.95539
106.8451 34.11311
108.38804 33.26261
103.89971 24.48268
105.81271 33.76026
105.881 29.30487
117.35093 33.28174
108.11342 35.21073
119.66113 41.39838
111.03138 32.21044
114.82225 31.2471
94.61868 39.89047
103.5162 32.72316
108.39181 37.27034
120.26472 30.62608
114.50353 33.8302
110.24833 28.09
113.34286 31.61459
107.71369 30.53541
116.8533 45.35669
100.87735 36.41855
109.26641 25.43813
115.39601 37.89389
113.13975 34.98409
125.07475 36.87636
100.70372 21.39474
109.79925 47.18058
116.70189 32.23129
96.91216 46.24547
103.48194 22.54373
137.00884 211.95682
88.92419 167.3788
65.69948 85.36935
92.23125 44.50454
103.96268 61.47963
77.39488 51.00502
103.40548 43.87145
69.47899 82.84016
89.45091 44.3708
102.42623 30.87719
74.9353 100.54998
110.60048 47.29146
112.15822 39.51895
89.49748 29.59889
93.66945 47.88264
114.51477 28.1108
101.89438 39.12868
97.31203 26.83838
99.13609 31.97372
122.45938 66.07643
113.09862 32.3396
94.88484 34.97218
103.06211 47.38372
110.7157 30.30411
112.54317 34.12302
97.61215 21.96315
104.24234 34.15231
120.34242 32.58008
117.37461 31.07615
101.07488 29.44785
103.27616 43.46207
112.67563 33.73354
75.51577 60.4837
98.87011 33.86908
79.07991 62.96057
106.65895 32.90048
105.83855 25.72128
93.44053 42.64175
98.05593 45.60112
71.83174 63.24856
85.24063 41.27623
119.36205 35.59054
114.83596 50.68281
104.30627 37.02526
96.81149 25.34321
87.13667 40.69288
74.22914 91.0513
100.1597 40.03892
105.12516 36.95492
103.5107 29.02168
110.61253 50.36492
108.36035 38.87044
103.64506 52.71479
144.82506 182.69874
110.61479 135.20058
92.59841 37.80364
78.29942 51.63187
73.28573 60.43189
109.52685 32.16019
108.0307 55.27531
100.83716 44.35585
50.81468 109.95432
77.15546 106.5124
64.08561 91.60392
95.92253 34.06645
106.8073 36.27014
96.62711 46.78776
74.75604 139.02016
80.30856 64.34024
80.15484 46.96191
100.86608 28.02281
119.39556 30.56096
113.08978 33.78371
110.82854 28.52876
118.29257 35.49235
92.2305 45.58903
114.91794 40.70893
106.95232 30.93364
113.74518 28.3137
115.41071 41.88678
117.48106 38.90612
104.0487 34.01309
105.0871 33.31195
101.05509 24.33802
102.20061 33.98128
102.51812 29.40312
114.17004 33.07895
105.0871 35.18193
116.57029 41.23344
107.60095 32.2448
111.49125 31.14011
92.03151 40.01062
99.99899 32.94882
105.23053 37.30476
117.05397 30.31219
111.57568 33.60079
106.96556 28.03519
110.05816 31.52829
104.57995 30.50548
114.2875 45.13418
98.34446 36.37829
105.92906 25.40474
113.1001 37.47724
109.55424 35.05873
122.11046 36.46123
97.40704 21.55185
106.84396 47.21955
113.80377 31.90407
93.45034 46.59303
100.62454 22.38605
140.51441 212.36533
91.11878 167.92276
63.62755 85.8874
91.05931 44.33905
102.10925 61.4848
74.51039 51.441
100.56738 43.95119
63.68908 83.68547
89.45091 44.3708
102.42623 30.87719
74.9353 100.54998
110.60048 47.29146
112.15822 39.51895
89.49748 29.59889
93.66945 47.88264
114.51477 28.1108
101.89438 39.12868
97.31203 26.83838
99.13609 31.97372
122.45938 66.07643
113.09862 32.3396
94.88484 34.97218
103.06211 47.38372
110.7157 30.30411
112.54317 34.12302
97.61215 21.96315
104.24234 34.15231
120.34242 32.58008
117.37461 31.07615
101.07488 29.44785
103.27616 43.46207
112.67563 33.73354
75.51577 60.4837
98.87011 33.86908
79.07991 62.96057
106.65895 32.90048
105.83855 25.72128
93.44053 42.64175
98.05593 45.60112
71.83174 63.24856
85.24063 41.27623
119.36205 35.59054
114.83596 50.68281
104.30627 37.02526
96.81149 25.34321
87.13667 40.69288
74.22914 91.0513
100.1597 40.03892
105.12516 36.95492
103.5107 29.02168
110.61253 50.36492
108.36035 38.87044
103.64506 52.71479
144.82506 182.69874
110.61479 135.20058
92.59841 37.80364
78.29942 51.63187
73.28573 60.43189
109.52685 32.16019
108.0307 55.27531
100.83716 44.35585
50.81468 109.95432
77.15546 106.5124
64.08561 91.60392
95.92253 34.06645
106.8073 36.27014
96.62711 46.78776
74.75604 139.02016
80.30856 64.34024
80.15484 46.96191
100.86608 28.02281
119.39556 30.56096
113.08978 33.78371
110.82854 28.52876
118.29257 35.49235
92.2305 45.58903
114.91794 40.70893
106.95232 30.93364
113.74518 28.3137
115.41071 41.88678
117.48106 38.90612
104.0487 34.01309
105.0871 33.31195
101.05509 24.33802
102.20061 33.98128
102.51812 29.40312
114.17004 33.07895
105.0871 35.18193
116.57029 41.23344
107.60095 32.2448
111.49125 31.14011
92.03151 40.01062
99.99899 32.94882
105.23053 37.30476
117.05397 30.31219
111.57568 33.60079
106.96556 28.03519
110.05816 31.52829
104.57995 30.50548
114.2875 45.13418
98.34446 36.37829
105.92906 25.40474
113.1001 37.47724
109.55424 35.05873
122.11046 36.46123
97.40704 21.55185
106.84396 47.21955
113.80377 31.90407
93.45034 46.59303
100.62454 22.38605
True

In [437]:
# final clusters

In [438]:
c1.shape

(12, 44)

In [439]:
c2.shape

(98, 44)

In [440]:
# calculating each cluster's individual accuracy

In [441]:
true_positive = 0
false_positive = 0
for i in range(X.shape[0]):
    if list(X[i]) in c1.tolist():
        if y[i] == 'Yes':
            true_positive+=1
        else:
            false_positive+=1

In [442]:
true_negative = 0
false_negative = 0
for i in range(X.shape[0]):
    if list(X[i]) in c2.tolist():
        if y[i] == 'Yes':
            false_negative+=1
        else:
            true_negative+=1

In [443]:
true_positive

12

In [444]:
false_positive

0

In [445]:
true_negative

55

In [446]:
false_negative

43

In [447]:
accuracy = 100*(true_positive+true_negative)/(true_positive+true_negative+false_positive+false_negative)

In [448]:
accuracy

60.90909090909091

In [179]:
# The distribution of clusters in the compted data

In [180]:
print(y)

['Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'Yes' 'Yes' 'Yes' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No']

In [161]:
# Calculation of final accuracy in percentage