In [1]:
# importing the basic libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# reading data from the file
#Source: http://archive.ics.uci.edu/ml/datasets/SPECTF+Heart

In [7]:
df = pd.read_csv('SPECTF_test.csv')

In [8]:
df.head()

,Attr_1,Attr_2,Attr_3,Attr_4,Attr_5,Attr_6,Attr_7,Attr_8,Attr_9,Attr_10,...,Attr_36,Attr_37,Attr_38,Attr_39,Attr_40,Attr_41,Attr_42,Attr_43,Attr_44,Class
0,32,41,76,34,65,53,30,54,16,51,...,43,67,61,29,31,17,8,18,11,Yes
1,76,65,60,40,32,34,65,50,53,37,...,51,65,59,43,39,35,30,24,21,Yes
2,60,51,75,60,65,45,64,55,55,61,...,68,69,63,62,53,57,31,46,30,Yes
3,64,60,71,69,71,65,66,64,68,59,...,55,66,58,65,65,75,64,61,56,Yes
4,65,69,66,76,58,67,65,72,66,64,...,64,71,70,72,69,70,65,63,61,Yes

In [9]:
df.tail()

,Attr_1,Attr_2,Attr_3,Attr_4,Attr_5,Attr_6,Attr_7,Attr_8,Attr_9,Attr_10,...,Attr_36,Attr_37,Attr_38,Attr_39,Attr_40,Attr_41,Attr_42,Attr_43,Attr_44,Class
105,70,75,72,72,67,71,71,78,63,67,...,67,68,70,70,71,64,67,56,54,No
106,59,57,67,71,66,68,68,70,56,62,...,64,56,53,71,68,64,63,56,56,No
107,67,64,73,75,77,77,74,70,65,62,...,64,65,60,68,75,74,80,67,68,No
108,68,65,72,72,47,74,76,74,67,66,...,69,71,73,73,75,68,56,58,44,No
109,66,54,69,66,69,69,75,72,63,62,...,65,65,64,67,69,71,68,59,59,No

In [413]:
# identifying the number of categories available

In [10]:
y = df['Class'].values

In [11]:
df['Class'].value_counts()

No     55
Yes    55
Name: Class, dtype: int64

In [12]:
# since there are 2 categories we are going to using k = 2.

In [13]:
y.shape

(110,)

In [14]:
X = df.drop(['Class'],axis = 1).values

In [15]:
X[:10]

array([[32, 41, 76, 34, 65, 53, 30, 54, 16, 51, 61, 43, 74, 70, 62, 21,
        34, 42, 61, 37, 58, 66, 54, 49, 17, 19, 11, 42, 53, 30, 71,  9,
        61, 16, 31, 43, 67, 61, 29, 31, 17,  8, 18, 11],
       [76, 65, 60, 40, 32, 34, 65, 50, 53, 37, 66, 53, 33, 31, 30, 30,
        69, 75, 64, 45, 68, 65, 57, 43, 23, 23, 53, 77, 48, 32, 55, 32,
        48, 23, 62, 51, 65, 59, 43, 39, 35, 30, 24, 21],
       [60, 51, 75, 60, 65, 45, 64, 55, 55, 61, 66, 74, 61, 50, 62, 41,
        70, 63, 60, 62, 76, 69, 70, 54, 51, 47, 77, 80, 69, 48, 74, 59,
        72, 57, 76, 68, 69, 63, 62, 53, 57, 31, 46, 30],
       [64, 60, 71, 69, 71, 65, 66, 64, 68, 59, 63, 67, 68, 64, 73, 59,
        73, 60, 72, 56, 77, 68, 69, 69, 66, 59, 57, 40, 55, 53, 69, 63,
        71, 63, 66, 55, 66, 58, 65, 65, 75, 64, 61, 56],
       [65, 69, 66, 76, 58, 67, 65, 72, 66, 64, 77, 75, 64, 62, 63, 59,
        71, 61, 67, 45, 74, 45, 66, 46, 64, 48, 62, 27, 65, 67, 72, 72,
        62, 66, 71, 64, 71, 70, 72, 69, 70, 65, 63, 61],
       [71, 76, 74, 79, 71, 69, 77, 75, 64, 64, 75, 78, 69, 70, 59, 52,
        71, 62, 47, 50, 68, 65, 67, 62, 56, 48, 58, 50, 65, 63, 75, 75,
        64, 62, 60, 56, 64, 63, 61, 65, 64, 58, 51, 38],
       [55, 66, 58, 75, 71, 77, 68, 73, 63, 69, 77, 78, 60, 69, 59, 60,
        69, 69, 67, 70, 72, 80, 67, 72, 53, 60, 70, 58, 46, 67, 68, 84,
        69, 79, 70, 74, 62, 71, 67, 66, 63, 61, 53, 60],
       [76, 77, 69, 70, 64, 69, 76, 80, 50, 56, 70, 74, 61, 55, 54, 59,
        65, 65, 53, 72, 76, 73, 51, 47, 43, 46, 66, 80, 73, 73, 71, 65,
        60, 53, 69, 70, 54, 62, 64, 66, 51, 42, 28, 22],
       [70, 72, 65, 64, 71, 69, 75, 76, 65, 68, 69, 79, 65, 74, 62, 67,
        73, 73, 53, 51, 72, 69, 74, 68, 49, 44, 52, 48, 65, 68, 64, 72,
        57, 58, 66, 69, 64, 69, 76, 73, 66, 69, 50, 53],
       [64, 72, 70, 74, 63, 70, 73, 74, 61, 69, 65, 75, 61, 71, 65, 67,
        73, 69, 72, 71, 74, 81, 69, 69, 65, 65, 78, 75, 67, 71, 66, 74,
        54, 60, 64, 68, 64, 68, 69, 71, 65, 65, 56, 58]], dtype=int64)

In [20]:
# distance calculator
y.size

110

In [17]:
# distance between 2 points
def distance(p1,p2):
    
    return np.linalg.norm(p1 - p2)

In [18]:
# calculating centroid

In [41]:
# centroid of a cluster
def centroid(cluster):
    
    length = cluster.shape[0]
    c = [None]*44
    for i in range(44):
        c[i] = np.sum(cluster[:,i])
        c[i] = c[i]/length
    
    
    # c0, c1, c2, c3 = c0/length , c1/length , c2/length , c3/length 
       
    return np.array(c)

In [27]:
df.head()

,Attr_1,Attr_2,Attr_3,Attr_4,Attr_5,Attr_6,Attr_7,Attr_8,Attr_9,Attr_10,...,Attr_36,Attr_37,Attr_38,Attr_39,Attr_40,Attr_41,Attr_42,Attr_43,Attr_44,Class
0,32,41,76,34,65,53,30,54,16,51,...,43,67,61,29,31,17,8,18,11,Yes
1,76,65,60,40,32,34,65,50,53,37,...,51,65,59,43,39,35,30,24,21,Yes
2,60,51,75,60,65,45,64,55,55,61,...,68,69,63,62,53,57,31,46,30,Yes
3,64,60,71,69,71,65,66,64,68,59,...,55,66,58,65,65,75,64,61,56,Yes
4,65,69,66,76,58,67,65,72,66,64,...,64,71,70,72,69,70,65,63,61,Yes

In [28]:
# Assigning random cluster centers initially

In [134]:
c1 = X[10].copy()
c2 = X[51].copy()
c1 = c1.reshape(1,44)
c2 = c2.reshape(1,44)

In [135]:
# cluster 1

In [136]:
c1

array([[76, 59, 82, 76, 80, 56, 74, 67, 67, 58, 77, 71, 56, 68, 60, 64,
        66, 66, 66, 66, 82, 79, 40, 45, 49, 48, 75, 70, 64, 35, 71, 60,
        39, 28, 71, 66, 73, 61, 71, 49, 53, 45, 29, 15]], dtype=int64)

In [137]:
# cluster 2

In [138]:
c2

array([[70, 65, 65, 62, 68, 67, 77, 74, 62, 61, 66, 61, 69, 74, 64, 62,
        71, 71, 74, 70, 77, 78, 69, 70, 67, 65, 67, 70, 49, 48, 73, 71,
        65, 73, 73, 73, 75, 71, 73, 72, 73, 70, 65, 64]], dtype=int64)

In [139]:
print(X)

[[32 41 76 ...  8 18 11]
 [76 65 60 ... 30 24 21]
 [60 51 75 ... 31 46 30]
 ...
 [67 64 73 ... 80 67 68]
 [68 65 72 ... 56 58 44]
 [66 54 69 ... 68 59 59]]

In [140]:
# centroids for each cluster

In [141]:
centroid_1 = centroid(c1)
centroid_2 = centroid(c2)

In [142]:
centroid_1

array([76., 59., 82., 76., 80., 56., 74., 67., 67., 58., 77., 71., 56.,
       68., 60., 64., 66., 66., 66., 66., 82., 79., 40., 45., 49., 48.,
       75., 70., 64., 35., 71., 60., 39., 28., 71., 66., 73., 61., 71.,
       49., 53., 45., 29., 15.])

In [143]:
centroid_2

array([70., 65., 65., 62., 68., 67., 77., 74., 62., 61., 66., 61., 69.,
       74., 64., 62., 71., 71., 74., 70., 77., 78., 69., 70., 67., 65.,
       67., 70., 49., 48., 73., 71., 65., 73., 73., 73., 75., 71., 73.,
       72., 73., 70., 65., 64.])

In [144]:
# making a numpy array for all the clusters for futher calculations

In [145]:
cluster_centroid = np.array([centroid_1,centroid_2])

In [146]:
cluster_centroid

array([[76., 59., 82., 76., 80., 56., 74., 67., 67., 58., 77., 71., 56.,
        68., 60., 64., 66., 66., 66., 66., 82., 79., 40., 45., 49., 48.,
        75., 70., 64., 35., 71., 60., 39., 28., 71., 66., 73., 61., 71.,
        49., 53., 45., 29., 15.],
       [70., 65., 65., 62., 68., 67., 77., 74., 62., 61., 66., 61., 69.,
        74., 64., 62., 71., 71., 74., 70., 77., 78., 69., 70., 67., 65.,
        67., 70., 49., 48., 73., 71., 65., 73., 73., 73., 75., 71., 73.,
        72., 73., 70., 65., 64.]])

In [147]:
cluster_centroid = np.round(cluster_centroid,2)

In [148]:
cluster_centroid

array([[76., 59., 82., 76., 80., 56., 74., 67., 67., 58., 77., 71., 56.,
        68., 60., 64., 66., 66., 66., 66., 82., 79., 40., 45., 49., 48.,
        75., 70., 64., 35., 71., 60., 39., 28., 71., 66., 73., 61., 71.,
        49., 53., 45., 29., 15.],
       [70., 65., 65., 62., 68., 67., 77., 74., 62., 61., 66., 61., 69.,
        74., 64., 62., 71., 71., 74., 70., 77., 78., 69., 70., 67., 65.,
        67., 70., 49., 48., 73., 71., 65., 73., 73., 73., 75., 71., 73.,
        72., 73., 70., 65., 64.]])

In [149]:
# iterative implementation of k-means

In [150]:
counter = 0

while(1):
    
    counter +=1
    #print(counter)
    
    if counter>1:
        cluster_centroid = new_centroids.copy()
    
    for x in X[:]:
        
        x = x.reshape(1,44)
        
        distance_1 = np.round(distance(x,centroid(c1)),5)
        distance_2 = np.round(distance(x,centroid(c2)),5)

        
        print(distance_1,distance_2)
        
        for i in range(c1.shape[0]):
            if ((c1[i] == x).all()):
                c1 = np.delete(c1,i,0)
                break
            else:
                pass
        
        for i in range(c2.shape[0]):
            if ((c2[i] == x).all()):
                c2 = np.delete(c2,i,0)
                break
            else:
                pass
                
        
        flag = 0
        
        if flag == 0:
            if distance_1 <= distance_2:
                c1 = np.vstack((c1,x))
                flag = 1

        if flag == 0: 
            if distance_2 <= distance_1:
                c2 = np.vstack((c2,x))
                flag = 1
        
    
    
    new_centroids = np.array([centroid(c1),centroid(c2)])
    new_centroids = np.round(new_centroids,5)
    
    
    if counter>1:
        if((new_centroids == cluster_centroid).all()):
            print(True)
            break

181.29534 221.58745
100.60815 172.66152
94.8859 94.49868
132.39084 56.06692
143.67092 66.66667
124.1679 50.15476
149.09393 52.86889
107.26913 77.45142
135.48186 45.14195
146.5617 46.38359
93.14684 87.42687
184.51219 60.5062
188.67631 51.60058
168.37681 28.6183
167.17581 48.18081
193.65627 44.32872
177.52394 40.94831
181.70237 33.99035
176.8071 35.01354
191.916 71.96885
192.89051 40.90578
178.03019 35.853
179.4401 47.19036
189.89142 36.88669
190.63775 41.55214
181.49311 25.6147
181.00483 38.29717
200.38151 40.47534
193.94265 37.11743
182.14211 32.82394
176.81275 43.54199
192.79977 37.72733
155.86132 56.27699
175.68651 37.40737
153.33542 61.07672
184.6016 35.57073
185.7976 28.55585
167.93674 39.58167
172.10099 45.63135
151.67317 58.85994
165.5891 39.03123
198.09278 40.20594
194.63491 54.03716
180.65367 36.76959
178.46218 26.57484
160.77235 36.12837
139.75246 83.90658
174.81061 38.30849
178.02177 37.46929
185.4663 34.95737
180.90813 52.16962
185.39889 40.62377
173.95042 52.75804
161.78303 178.65081
134.57257 131.57915
160.59611 37.49374
155.14223 49.16344
146.78821 56.90457
168.66173 36.93773
162.34052 55.88249
157.42758 43.69646
96.93526 102.25545
131.18117 101.40855
118.86126 85.07473
147.22771 34.75528
155.46061 39.71468
146.34548 45.78928
105.32569 130.50935
111.61201 60.87151
121.40033 41.19333
139.48706 32.44384
160.2986 39.7314
152.62385 39.77052
154.62419 34.97249
158.8403 42.39219
131.81214 44.26484
156.48974 45.07358
148.76505 34.7703
151.86718 35.90107
158.291 45.34511
161.33332 43.93487
140.3896 37.31121
147.71269 35.19418
140.2984 27.32703
145.98575 34.76895
144.04735 31.90919
155.01948 37.80181
146.08436 36.19317
156.97019 45.043
149.48257 35.17299
152.42913 34.23983
125.96603 40.4349
140.90649 33.13993
147.16535 38.83976
157.77275 35.30474
150.21797 37.06649
149.04308 30.25576
151.02861 34.77833
143.85979 32.22041
149.14771 48.38886
137.66931 36.55327
146.18906 28.30438
149.23686 40.72416
153.5931 36.2667
161.50926 40.24205
137.90228 22.13089
146.47471 47.76466
151.62599 35.08038
133.2045 45.75546
141.28921 23.68493
108.28222 208.96561
80.60794 163.8099
104.07132 81.90138
125.48323 43.68925
135.69687 60.98469
112.51418 48.75926
138.61544 43.81627
107.72019 79.52004
127.41444 43.06903
145.86651 30.84923
113.96771 96.6207
148.71866 48.04391
150.87028 41.0783
131.01237 28.13875
131.11308 46.90495
154.93947 31.13073
142.31528 39.07853
138.58225 26.75886
136.49484 32.65299
149.48859 67.82912
153.95986 34.42796
137.49051 33.85724
141.85711 47.19361
151.79736 32.1995
151.26083 36.34305
141.17946 21.58854
146.76662 34.36289
161.02186 35.87742
155.53983 34.6388
144.35803 29.33628
135.80589 44.49471
154.33742 35.423
122.57667 56.80391
134.43824 34.68729
114.77038 60.52484
142.62833 34.89615
147.52912 27.15333
134.74064 41.30927
131.12757 45.79237
107.39385 60.41695
129.92321 38.63638
158.99069 38.50749
156.63282 51.11144
143.04349 37.74348
138.48263 25.16798
126.4715 39.08499
106.02849 87.79559
135.21035 40.59836
143.29564 37.89294
143.05607 30.20152
148.51343 50.90737
147.42334 39.91525
140.36965 52.52671
118.93713 180.97805
128.39408 132.47634
125.69916 36.57324
117.46749 48.33741
110.28121 57.20582
138.04931 34.24075
132.96846 55.84616
127.64512 44.72486
65.38306 106.56871
114.24511 102.65179
101.95887 87.71789
130.81263 32.8807
139.05375 36.79002
128.6116 45.81449
88.26444 135.35177
106.59242 62.47111
115.00121 44.38063
130.77185 28.98982
150.90155 33.53107
144.25768 35.5488
145.10092 29.70958
149.37741 37.78133
124.54829 44.25109
147.74847 41.70277
140.13783 31.64931
144.39972 30.9585
150.23851 42.43916
150.72584 40.26577
132.29995 35.2511
140.32443 33.12107
132.44852 25.24963
137.69027 33.35655
133.99606 30.07692
145.62375 34.99706
139.25855 35.141
146.38629 42.97524
139.95456 33.14748
144.57735 32.4844
118.01248 39.94282
133.99357 32.46723
136.2618 37.82863
148.25635 33.04289
139.99504 35.81558
140.49891 28.89813
141.46358 33.05918
136.20063 31.33298
138.81382 47.20298
126.83432 36.71546
137.92127 26.80639
139.27172 39.91946
144.34546 35.41384
153.40343 39.09857
130.44134 21.5399
135.86738 47.60642
142.98349 34.45546
126.3208 45.23109
131.52418 23.57243
117.09374 209.51722
79.8975 164.54204
97.28966 82.37266
116.30826 44.06776
129.04112 60.97356
106.63932 48.89948
131.07229 43.69459
101.35718 79.92307
119.40803 43.23155
136.34006 30.81592
110.44129 96.87296
137.7907 48.339
140.81765 41.1368
121.34501 28.52
122.80178 47.07406
146.63769 30.50135
132.67734 39.2206
129.50654 26.77516
129.60688 32.26998
142.42522 67.73028
145.98611 33.83821
130.45412 33.50554
131.26923 47.54235
141.76839 32.14579
141.49303 36.28739
132.23821 21.40601
138.7814 33.98339
152.39186 35.27864
146.53195 34.26404
134.78357 29.34257
127.11784 44.62672
144.36855 35.32549
115.54917 56.99178
125.66335 34.79868
107.58227 60.84664
135.15033 34.52488
138.23269 26.95662
125.85949 41.47411
124.53893 45.68628
103.89712 60.45919
121.06724 38.87586
149.88421 38.13899
147.47636 50.99534
134.54223 37.62908
129.60946 25.11255
117.8952 39.34104
101.78381 88.10934
128.38852 40.37714
135.25264 37.6799
134.6351 29.95519
137.3303 51.25526
137.3667 40.03851
129.99338 52.87963
116.91141 181.653
106.99507 133.75015
125.69916 36.57324
117.46749 48.33741
110.28121 57.20582
138.04931 34.24075
132.96846 55.84616
127.64512 44.72486
65.38306 106.56871
114.24511 102.65179
101.95887 87.71789
130.81263 32.8807
139.05375 36.79002
128.6116 45.81449
88.26444 135.35177
106.59242 62.47111
115.00121 44.38063
130.77185 28.98982
150.90155 33.53107
144.25768 35.5488
145.10092 29.70958
149.37741 37.78133
124.54829 44.25109
147.74847 41.70277
140.13783 31.64931
144.39972 30.9585
150.23851 42.43916
150.72584 40.26577
132.29995 35.2511
140.32443 33.12107
132.44852 25.24963
137.69027 33.35655
133.99606 30.07692
145.62375 34.99706
139.25855 35.141
146.38629 42.97524
139.95456 33.14748
144.57735 32.4844
118.01248 39.94282
133.99357 32.46723
136.2618 37.82863
148.25635 33.04289
139.99504 35.81558
140.49891 28.89813
141.46358 33.05918
136.20063 31.33298
138.81382 47.20298
126.83432 36.71546
137.92127 26.80639
139.27172 39.91946
144.34546 35.41384
153.40343 39.09857
130.44134 21.5399
135.86738 47.60642
142.98349 34.45546
126.3208 45.23109
131.52418 23.57243
True

In [151]:
# final clusters

In [152]:
c1.shape

(6, 44)

In [153]:
c2.shape

(104, 44)

In [154]:
# calculating each cluster's individual accuracy

In [155]:
true_positive = 0
false_positive = 0
for i in range(X.shape[0]):
    if list(X[i]) in c1.tolist():
        if y[i] == 'Yes':
            true_positive+=1
        else:
            false_positive+=1

In [156]:
true_negative = 0
false_negative = 0
for i in range(X.shape[0]):
    if list(X[i]) in c2.tolist():
        if y[i] == 'Yes':
            false_negative+=1
        else:
            true_negative+=1

In [157]:
true_positive

6

In [158]:
false_positive

0

In [159]:
true_negative

55

In [160]:
false_negative

49

In [88]:
# The distribution of clusters in the compted data

In [89]:
print(y)

['Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'Yes' 'Yes' 'Yes' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'No' 'No' 'No' 'No' 'No' 'No']

In [161]:
# Calculation of final accuracy in percentage